.translateContainer {
  background-color: #fff;
  height: 150px;
  width: 550px;
  box-shadow: 1px 2px 8px 1px #888888;
  padding-top: 3px;
  margin-top: 50px;
  .translateHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #9ba3ac94;
    .headerChange {
      display: flex;
      align-items: center;
      padding-left: 20px;
      .changeInto {
        font-size: 13px;
        padding-left: 8px;
        font-weight: 500;
      }
      .changeLanguage {
        .languageSelect {
          border: none;
          width: 80px;
        }
      }
    }
    .headerSetting {
      display: flex;
      align-items: center;
    }
  }
  .translate-body {
    display: flex;
    flex-direction: column;
  }
}
