.translateContainer {
  background-color: #fff;
  height: 150px;
  width: 550px;
  box-shadow: 1px 2px 8px 1px #888888;
  padding-top: 10px;
  margin-top: 50px;
  .translateHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #9ba3ac94;
    .headerChange {
      display: flex;
      align-items: center;
      padding-left: 20px;
      .changeInto {
        font-size: 13px;
        padding-left: 8px;
        font-weight: 500;
      }

      .changeLanguage {
        margin-left: 3px;
        min-width: 50px;
        position: relative;
        border: 2px solid #000;
        border-radius: 5px;
        select{
          outline: none;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .headerSetting {
      display: flex;
      align-items: center;
    }
  }
  .translate-body {
    display: flex;
    flex-direction: column;
  }
}
